### Installing Spark

In [1]:
!pip install spark

Requirement already satisfied: spark in /home/bhajji/anaconda3/lib/python3.9/site-packages (0.2.1)

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.getOrCreate()

23/07/15 02:55:17 WARN Utils: Your hostname, bhajji resolves to a loopback address: 127.0.1.1; using 192.168.2.24 instead (on interface wlp2s0)
23/07/15 02:55:17 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/07/15 02:55:18 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
spark

### Load data into DataFrames: CSV Files

In [5]:
file_path = "./Data/location_temp.csv"
df1 = spark.read.format("csv").option("header", "true").load(file_path)

In [6]:
df1.head(10)

[Row(event_date='03/04/2019 19:48:06', location_id='loc0', temp_celcius='29'),
 Row(event_date='03/04/2019 19:53:06', location_id='loc0', temp_celcius='27'),
 Row(event_date='03/04/2019 19:58:06', location_id='loc0', temp_celcius='28'),
 Row(event_date='03/04/2019 20:03:06', location_id='loc0', temp_celcius='30'),
 Row(event_date='03/04/2019 20:08:06', location_id='loc0', temp_celcius='27'),
 Row(event_date='03/04/2019 20:13:06', location_id='loc0', temp_celcius='27'),
 Row(event_date='03/04/2019 20:18:06', location_id='loc0', temp_celcius='27'),
 Row(event_date='03/04/2019 20:23:06', location_id='loc0', temp_celcius='29'),
 Row(event_date='03/04/2019 20:28:06', location_id='loc0', temp_celcius='32'),
 Row(event_date='03/04/2019 20:33:06', location_id='loc0', temp_celcius='35')]

In [7]:
df1.show()

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|       loc0|          29|
|03/04/2019 19:53:06|       loc0|          27|
|03/04/2019 19:58:06|       loc0|          28|
|03/04/2019 20:03:06|       loc0|          30|
|03/04/2019 20:08:06|       loc0|          27|
|03/04/2019 20:13:06|       loc0|          27|
|03/04/2019 20:18:06|       loc0|          27|
|03/04/2019 20:23:06|       loc0|          29|
|03/04/2019 20:28:06|       loc0|          32|
|03/04/2019 20:33:06|       loc0|          35|
|03/04/2019 20:38:06|       loc0|          32|
|03/04/2019 20:43:06|       loc0|          28|
|03/04/2019 20:48:06|       loc0|          28|
|03/04/2019 20:53:06|       loc0|          32|
|03/04/2019 20:58:06|       loc0|          34|
|03/04/2019 21:03:06|       loc0|          33|
|03/04/2019 21:08:06|       loc0|          27|
|03/04/2019 21:13:06|       loc0|          28|
|03/04/2019 21:18:06|       loc0|          33|
|03/04/2019 21:23:06|       loc0|          28|
+-------------------+-----------+------------+
only showing top 20 rows

In [8]:
df1.count()

500000

In [9]:
file_path_no_header = "./Data/utilization.csv"
df2 = spark.read.format("csv").option("header", "false").option("inferSchema","true").load(file_path_no_header)

In [10]:
df2.head(10)

[Row(_c0='03/05/2019 08:06:14', _c1=100, _c2=0.57, _c3=0.51, _c4=47),
 Row(_c0='03/05/2019 08:11:14', _c1=100, _c2=0.47, _c3=0.62, _c4=43),
 Row(_c0='03/05/2019 08:16:14', _c1=100, _c2=0.56, _c3=0.57, _c4=62),
 Row(_c0='03/05/2019 08:21:14', _c1=100, _c2=0.57, _c3=0.56, _c4=50),
 Row(_c0='03/05/2019 08:26:14', _c1=100, _c2=0.35, _c3=0.46, _c4=43),
 Row(_c0='03/05/2019 08:31:14', _c1=100, _c2=0.41, _c3=0.58, _c4=48),
 Row(_c0='03/05/2019 08:36:14', _c1=100, _c2=0.57, _c3=0.35, _c4=58),
 Row(_c0='03/05/2019 08:41:14', _c1=100, _c2=0.41, _c3=0.4, _c4=58),
 Row(_c0='03/05/2019 08:46:14', _c1=100, _c2=0.53, _c3=0.35, _c4=62),
 Row(_c0='03/05/2019 08:51:14', _c1=100, _c2=0.51, _c3=0.6, _c4=45)]

In [11]:
df2.show()

+-------------------+---+----+----+---+
|                _c0|_c1| _c2| _c3|_c4|
+-------------------+---+----+----+---+
|03/05/2019 08:06:14|100|0.57|0.51| 47|
|03/05/2019 08:11:14|100|0.47|0.62| 43|
|03/05/2019 08:16:14|100|0.56|0.57| 62|
|03/05/2019 08:21:14|100|0.57|0.56| 50|
|03/05/2019 08:26:14|100|0.35|0.46| 43|
|03/05/2019 08:31:14|100|0.41|0.58| 48|
|03/05/2019 08:36:14|100|0.57|0.35| 58|
|03/05/2019 08:41:14|100|0.41| 0.4| 58|
|03/05/2019 08:46:14|100|0.53|0.35| 62|
|03/05/2019 08:51:14|100|0.51| 0.6| 45|
|03/05/2019 08:56:14|100|0.32|0.37| 47|
|03/05/2019 09:01:14|100|0.62|0.59| 60|
|03/05/2019 09:06:14|100|0.66|0.72| 57|
|03/05/2019 09:11:14|100|0.54|0.54| 44|
|03/05/2019 09:16:14|100|0.29| 0.4| 47|
|03/05/2019 09:21:14|100|0.43|0.68| 66|
|03/05/2019 09:26:14|100|0.49|0.66| 65|
|03/05/2019 09:31:14|100|0.64|0.55| 66|
|03/05/2019 09:36:14|100|0.42| 0.6| 42|
|03/05/2019 09:41:14|100|0.55|0.59| 63|
+-------------------+---+----+----+---+
only showing top 20 rows

In [12]:
df2.count()

500000

In [13]:
df2 = df2.withColumnRenamed("_c0", "event_datetime") \
        .withColumnRenamed ("_c1", "server_id")       \
        .withColumnRenamed("_c2", "cpu_utilization")  \
        .withColumnRenamed("_c3", "free_memory")      \
        .withColumnRenamed("_c4", "session_count")

In [14]:
df2.head(10)

[Row(event_datetime='03/05/2019 08:06:14', server_id=100, cpu_utilization=0.57, free_memory=0.51, session_count=47),
 Row(event_datetime='03/05/2019 08:11:14', server_id=100, cpu_utilization=0.47, free_memory=0.62, session_count=43),
 Row(event_datetime='03/05/2019 08:16:14', server_id=100, cpu_utilization=0.56, free_memory=0.57, session_count=62),
 Row(event_datetime='03/05/2019 08:21:14', server_id=100, cpu_utilization=0.57, free_memory=0.56, session_count=50),
 Row(event_datetime='03/05/2019 08:26:14', server_id=100, cpu_utilization=0.35, free_memory=0.46, session_count=43),
 Row(event_datetime='03/05/2019 08:31:14', server_id=100, cpu_utilization=0.41, free_memory=0.58, session_count=48),
 Row(event_datetime='03/05/2019 08:36:14', server_id=100, cpu_utilization=0.57, free_memory=0.35, session_count=58),
 Row(event_datetime='03/05/2019 08:41:14', server_id=100, cpu_utilization=0.41, free_memory=0.4, session_count=58),
 Row(event_datetime='03/05/2019 08:46:14', server_id=100, cpu_utilization=0.53, free_memory=0.35, session_count=62),
 Row(event_datetime='03/05/2019 08:51:14', server_id=100, cpu_utilization=0.51, free_memory=0.6, session_count=45)]

In [15]:
df2.show()

+-------------------+---------+---------------+-----------+-------------+
|     event_datetime|server_id|cpu_utilization|free_memory|session_count|
+-------------------+---------+---------------+-----------+-------------+
|03/05/2019 08:06:14|      100|           0.57|       0.51|           47|
|03/05/2019 08:11:14|      100|           0.47|       0.62|           43|
|03/05/2019 08:16:14|      100|           0.56|       0.57|           62|
|03/05/2019 08:21:14|      100|           0.57|       0.56|           50|
|03/05/2019 08:26:14|      100|           0.35|       0.46|           43|
|03/05/2019 08:31:14|      100|           0.41|       0.58|           48|
|03/05/2019 08:36:14|      100|           0.57|       0.35|           58|
|03/05/2019 08:41:14|      100|           0.41|        0.4|           58|
|03/05/2019 08:46:14|      100|           0.53|       0.35|           62|
|03/05/2019 08:51:14|      100|           0.51|        0.6|           45|
|03/05/2019 08:56:14|      100|           0.32|       0.37|           47|
|03/05/2019 09:01:14|      100|           0.62|       0.59|           60|
|03/05/2019 09:06:14|      100|           0.66|       0.72|           57|
|03/05/2019 09:11:14|      100|           0.54|       0.54|           44|
|03/05/2019 09:16:14|      100|           0.29|        0.4|           47|
|03/05/2019 09:21:14|      100|           0.43|       0.68|           66|
|03/05/2019 09:26:14|      100|           0.49|       0.66|           65|
|03/05/2019 09:31:14|      100|           0.64|       0.55|           66|
|03/05/2019 09:36:14|      100|           0.42|        0.6|           42|
|03/05/2019 09:41:14|      100|           0.55|       0.59|           63|
+-------------------+---------+---------------+-----------+-------------+
only showing top 20 rows

In [16]:
json_df1_path = "./Data/location_temp.json"
df1.write.json(json_df1_path)

In [17]:
json_df2_path = "./Data/utilization2.json"
df2.write.json(json_df2_path)

### Reading JSON Files

In [18]:
json_df1_path = "./Data/location_temp.json"
df1 = spark.read.format("json").load(json_df1_path)

In [19]:
df1.head(10)

[Row(event_date='03/04/2019 19:48:06', location_id='loc0', temp_celcius='29'),
 Row(event_date='03/04/2019 19:53:06', location_id='loc0', temp_celcius='27'),
 Row(event_date='03/04/2019 19:58:06', location_id='loc0', temp_celcius='28'),
 Row(event_date='03/04/2019 20:03:06', location_id='loc0', temp_celcius='30'),
 Row(event_date='03/04/2019 20:08:06', location_id='loc0', temp_celcius='27'),
 Row(event_date='03/04/2019 20:13:06', location_id='loc0', temp_celcius='27'),
 Row(event_date='03/04/2019 20:18:06', location_id='loc0', temp_celcius='27'),
 Row(event_date='03/04/2019 20:23:06', location_id='loc0', temp_celcius='29'),
 Row(event_date='03/04/2019 20:28:06', location_id='loc0', temp_celcius='32'),
 Row(event_date='03/04/2019 20:33:06', location_id='loc0', temp_celcius='35')]

In [20]:
df1.show()

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|       loc0|          29|
|03/04/2019 19:53:06|       loc0|          27|
|03/04/2019 19:58:06|       loc0|          28|
|03/04/2019 20:03:06|       loc0|          30|
|03/04/2019 20:08:06|       loc0|          27|
|03/04/2019 20:13:06|       loc0|          27|
|03/04/2019 20:18:06|       loc0|          27|
|03/04/2019 20:23:06|       loc0|          29|
|03/04/2019 20:28:06|       loc0|          32|
|03/04/2019 20:33:06|       loc0|          35|
|03/04/2019 20:38:06|       loc0|          32|
|03/04/2019 20:43:06|       loc0|          28|
|03/04/2019 20:48:06|       loc0|          28|
|03/04/2019 20:53:06|       loc0|          32|
|03/04/2019 20:58:06|       loc0|          34|
|03/04/2019 21:03:06|       loc0|          33|
|03/04/2019 21:08:06|       loc0|          27|
|03/04/2019 21:13:06|       loc0|          28|
|03/04/2019 21:18:06|       loc0|          33|
|03/04/2019 21:23:06|       loc0|          28|
+-------------------+-----------+------------+
only showing top 20 rows

In [21]:
df1.count()

500000

In [22]:
json_df2_path = "./Data/utilization.json"
df2 = spark.read.format("json").load(json_df2_path)

In [23]:
df2.head(10)

[Row(cpu_utilization=0.57, event_datetime='03/05/2019 08:06:14', free_memory=0.51, server_id=100, session_count=47),
 Row(cpu_utilization=0.47, event_datetime='03/05/2019 08:11:14', free_memory=0.62, server_id=100, session_count=43),
 Row(cpu_utilization=0.56, event_datetime='03/05/2019 08:16:14', free_memory=0.57, server_id=100, session_count=62),
 Row(cpu_utilization=0.57, event_datetime='03/05/2019 08:21:14', free_memory=0.56, server_id=100, session_count=50),
 Row(cpu_utilization=0.35, event_datetime='03/05/2019 08:26:14', free_memory=0.46, server_id=100, session_count=43),
 Row(cpu_utilization=0.41, event_datetime='03/05/2019 08:31:14', free_memory=0.58, server_id=100, session_count=48),
 Row(cpu_utilization=0.57, event_datetime='03/05/2019 08:36:14', free_memory=0.35, server_id=100, session_count=58),
 Row(cpu_utilization=0.41, event_datetime='03/05/2019 08:41:14', free_memory=0.4, server_id=100, session_count=58),
 Row(cpu_utilization=0.53, event_datetime='03/05/2019 08:46:14', free_memory=0.35, server_id=100, session_count=62),
 Row(cpu_utilization=0.51, event_datetime='03/05/2019 08:51:14', free_memory=0.6, server_id=100, session_count=45)]

In [24]:
df2.show()

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|
|           0.56|03/05/2019 08:16:14|       0.57|      100|           62|
|           0.57|03/05/2019 08:21:14|       0.56|      100|           50|
|           0.35|03/05/2019 08:26:14|       0.46|      100|           43|
|           0.41|03/05/2019 08:31:14|       0.58|      100|           48|
|           0.57|03/05/2019 08:36:14|       0.35|      100|           58|
|           0.41|03/05/2019 08:41:14|        0.4|      100|           58|
|           0.53|03/05/2019 08:46:14|       0.35|      100|           62|
|           0.51|03/05/2019 08:51:14|        0.6|      100|           45|
|           0.32|03/05/2019 08:56:14|       0.37|      100|           47|
|           0.62|03/05/2019 09:01:14|       0.59|      100|           60|
|           0.66|03/05/2019 09:06:14|       0.72|      100|           57|
|           0.54|03/05/2019 09:11:14|       0.54|      100|           44|
|           0.29|03/05/2019 09:16:14|        0.4|      100|           47|
|           0.43|03/05/2019 09:21:14|       0.68|      100|           66|
|           0.49|03/05/2019 09:26:14|       0.66|      100|           65|
|           0.64|03/05/2019 09:31:14|       0.55|      100|           66|
|           0.42|03/05/2019 09:36:14|        0.6|      100|           42|
|           0.55|03/05/2019 09:41:14|       0.59|      100|           63|
+---------------+-------------------+-----------+---------+-------------+
only showing top 20 rows

In [25]:
df2.count()

500000

In [26]:
!ls './Data/location_temp.json'

part-00000-5d415a68-656e-407c-9b5e-62e6c2cf29e8-c000.json
part-00001-5d415a68-656e-407c-9b5e-62e6c2cf29e8-c000.json
part-00002-5d415a68-656e-407c-9b5e-62e6c2cf29e8-c000.json
part-00003-5d415a68-656e-407c-9b5e-62e6c2cf29e8-c000.json
_SUCCESS

In [27]:
!ls './Data/utilization2.json'

part-00000-329b04a7-184f-4272-8031-9499bc40f23d-c000.json
part-00001-329b04a7-184f-4272-8031-9499bc40f23d-c000.json
part-00002-329b04a7-184f-4272-8031-9499bc40f23d-c000.json
part-00003-329b04a7-184f-4272-8031-9499bc40f23d-c000.json
_SUCCESS

### Basic Dataframe Operations

In [28]:
df1.columns

['event_date', 'location_id', 'temp_celcius']

In [29]:
df2.columns

['cpu_utilization',
 'event_datetime',
 'free_memory',
 'server_id',
 'session_count']

In [30]:
df1.describe()

DataFrame[summary: string, event_date: string, location_id: string, temp_celcius: string]

In [31]:
df2.describe()

DataFrame[summary: string, cpu_utilization: string, event_datetime: string, free_memory: string, server_id: string, session_count: string]

In [32]:
df1_sample = df1.sample(False,fraction=0.1)

In [33]:
df1_sample.show(10)

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 21:43:06|       loc0|          30|
|03/04/2019 22:23:06|       loc0|          27|
|03/05/2019 00:33:06|       loc0|          27|
|03/05/2019 01:53:06|       loc0|          29|
|03/05/2019 02:58:06|       loc0|          31|
|03/05/2019 03:43:06|       loc0|          28|
|03/05/2019 04:08:06|       loc0|          28|
|03/05/2019 04:48:06|       loc0|          28|
|03/05/2019 06:48:06|       loc0|          27|
|03/05/2019 06:58:06|       loc0|          29|
+-------------------+-----------+------------+
only showing top 10 rows

In [34]:
df1_sort = df1_sample.sort('temp_celcius')

In [35]:
df1_sort.show()

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/07/2019 06:28:07|       loc7|          21|
|03/06/2019 04:23:07|       loc7|          21|
|03/07/2019 01:18:07|       loc7|          21|
|03/05/2019 14:38:07|       loc7|          21|
|03/06/2019 01:03:07|       loc7|          21|
|03/06/2019 17:58:07|       loc7|          21|
|03/06/2019 23:43:07|       loc7|          21|
|03/05/2019 08:38:07|       loc7|          21|
|03/05/2019 14:13:07|       loc7|          21|
|03/05/2019 18:18:07|       loc7|          21|
|03/05/2019 23:28:07|       loc7|          21|
|03/06/2019 05:03:07|       loc7|          21|
|03/06/2019 07:18:07|       loc7|          21|
|03/06/2019 19:08:07|       loc7|          21|
|03/06/2019 22:28:07|       loc7|          21|
|03/04/2019 22:08:07|       loc7|          21|
|03/07/2019 09:33:07|       loc7|          21|
|03/05/2019 11:53:07|       loc7|          21|
|03/05/2019 13:23:07|       loc7|          21|
|03/05/2019 15:43:07|       loc7|          21|
+-------------------+-----------+------------+
only showing top 20 rows

In [36]:
df1.describe().show()

+-------+-------------------+-----------+------------------+
|summary|         event_date|location_id|      temp_celcius|
+-------+-------------------+-----------+------------------+
|  count|             500000|     500000|            500000|
|   mean|               null|       null|         28.065484|
| stddev|               null|       null|3.8101229481235652|
|    min|03/04/2019 19:48:06|       loc0|                21|
|    max|03/08/2019 07:04:55|      loc99|                40|
+-------+-------------------+-----------+------------------+

In [37]:
df2_sample = df2.sample(False,fraction=0.1)

In [38]:
df2_sample.show(10)

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.56|03/05/2019 08:16:14|       0.57|      100|           62|
|           0.58|03/05/2019 10:06:14|       0.54|      100|           55|
|           0.55|03/05/2019 10:51:14|       0.42|      100|           60|
|           0.32|03/05/2019 11:01:14|       0.56|      100|           53|
|           0.65|03/05/2019 11:46:14|       0.68|      100|           59|
|           0.63|03/05/2019 12:36:14|       0.65|      100|           45|
|            0.5|03/05/2019 12:41:14|       0.38|      100|           44|
|           0.32|03/05/2019 13:41:14|       0.72|      100|           70|
|           0.54|03/05/2019 16:11:14|       0.37|      100|           59|
|           0.29|03/05/2019 16:21:14|       0.53|      100|           43|
+---------------+-------------------+-----------+---------+-------------+
only showing top 10 rows

In [39]:
df2_sort = df2_sample.sort('event_datetime')

In [40]:
df2_sort.show()

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|            0.4|03/05/2019 08:06:41|       0.53|      116|           51|
|           0.66|03/05/2019 08:06:48|       0.31|      120|           54|
|            0.6|03/05/2019 08:07:03|       0.48|      129|           80|
|            0.6|03/05/2019 08:11:40|       0.52|      115|           55|
|           0.44|03/05/2019 08:11:43|       0.51|      117|           75|
|           0.52|03/05/2019 08:12:17|       0.44|      136|           54|
|           0.94|03/05/2019 08:12:41|       0.27|      148|           68|
|           0.56|03/05/2019 08:16:14|       0.57|      100|           62|
|           0.91|03/05/2019 08:16:17|       0.33|      102|           75|
|           0.57|03/05/2019 08:16:21|       0.19|      104|           90|
|           0.62|03/05/2019 08:16:24|       0.58|      106|           36|
|           0.55|03/05/2019 08:16:40|        0.4|      115|           64|
|           0.46|03/05/2019 08:16:43|       0.53|      117|           58|
|           0.47|03/05/2019 08:16:51|       0.28|      122|           79|
|           0.48|03/05/2019 08:17:25|       0.36|      140|           62|
|            0.7|03/05/2019 08:21:36|       0.11|      113|           72|
|           0.75|03/05/2019 08:21:53|       0.25|      123|           95|
|           0.29|03/05/2019 08:27:21|        0.6|      138|           57|
|           0.62|03/05/2019 08:27:29|       0.47|      142|           94|
|           0.29|03/05/2019 08:27:31|       0.62|      143|           68|
+---------------+-------------------+-----------+---------+-------------+
only showing top 20 rows

In [41]:
df2.describe().show()

+-------+-------------------+-------------------+-------------------+------------------+------------------+
|summary|    cpu_utilization|     event_datetime|        free_memory|         server_id|     session_count|
+-------+-------------------+-------------------+-------------------+------------------+------------------+
|  count|             500000|             500000|             500000|            500000|            500000|
|   mean| 0.6205177400000106|               null| 0.3791280999999971|             124.5|          69.59616|
| stddev|0.15875173872912937|               null|0.15830931278376237|14.430884120552962|14.850676696352718|
|    min|               0.22|03/05/2019 08:06:14|                0.0|               100|                32|
|    max|                1.0|04/09/2019 01:22:46|               0.78|               149|               105|
+-------+-------------------+-------------------+-------------------+------------------+------------------+

### Filtering using Dataframe API

In [42]:
df1.filter(df1["location_id"]=="loc0").show()

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|       loc0|          29|
|03/04/2019 19:53:06|       loc0|          27|
|03/04/2019 19:58:06|       loc0|          28|
|03/04/2019 20:03:06|       loc0|          30|
|03/04/2019 20:08:06|       loc0|          27|
|03/04/2019 20:13:06|       loc0|          27|
|03/04/2019 20:18:06|       loc0|          27|
|03/04/2019 20:23:06|       loc0|          29|
|03/04/2019 20:28:06|       loc0|          32|
|03/04/2019 20:33:06|       loc0|          35|
|03/04/2019 20:38:06|       loc0|          32|
|03/04/2019 20:43:06|       loc0|          28|
|03/04/2019 20:48:06|       loc0|          28|
|03/04/2019 20:53:06|       loc0|          32|
|03/04/2019 20:58:06|       loc0|          34|
|03/04/2019 21:03:06|       loc0|          33|
|03/04/2019 21:08:06|       loc0|          27|
|03/04/2019 21:13:06|       loc0|          28|
|03/04/2019 21:18:06|       loc0|          33|
|03/04/2019 21:23:06|       loc0|          28|
+-------------------+-----------+------------+
only showing top 20 rows

In [43]:
df1.filter(df1["location_id"]=="loc10").show()

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:08|      loc10|          26|
|03/04/2019 19:53:08|      loc10|          31|
|03/04/2019 19:58:08|      loc10|          25|
|03/04/2019 20:03:08|      loc10|          25|
|03/04/2019 20:08:08|      loc10|          26|
|03/04/2019 20:13:08|      loc10|          23|
|03/04/2019 20:18:08|      loc10|          26|
|03/04/2019 20:23:08|      loc10|          23|
|03/04/2019 20:28:08|      loc10|          31|
|03/04/2019 20:33:08|      loc10|          23|
|03/04/2019 20:38:08|      loc10|          27|
|03/04/2019 20:43:08|      loc10|          23|
|03/04/2019 20:48:08|      loc10|          28|
|03/04/2019 20:53:08|      loc10|          26|
|03/04/2019 20:58:08|      loc10|          26|
|03/04/2019 21:03:08|      loc10|          27|
|03/04/2019 21:08:08|      loc10|          23|
|03/04/2019 21:13:08|      loc10|          25|
|03/04/2019 21:18:08|      loc10|          25|
|03/04/2019 21:23:08|      loc10|          26|
+-------------------+-----------+------------+
only showing top 20 rows

In [44]:
df1.filter(df1["location_id"]=="loc100").show()

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:25|     loc100|          32|
|03/04/2019 19:53:25|     loc100|          33|
|03/04/2019 19:58:25|     loc100|          25|
|03/04/2019 20:03:25|     loc100|          30|
|03/04/2019 20:08:25|     loc100|          25|
|03/04/2019 20:13:25|     loc100|          25|
|03/04/2019 20:18:25|     loc100|          26|
|03/04/2019 20:23:25|     loc100|          26|
|03/04/2019 20:28:25|     loc100|          28|
|03/04/2019 20:33:25|     loc100|          28|
|03/04/2019 20:38:25|     loc100|          33|
|03/04/2019 20:43:25|     loc100|          26|
|03/04/2019 20:48:25|     loc100|          28|
|03/04/2019 20:53:25|     loc100|          25|
|03/04/2019 20:58:25|     loc100|          25|
|03/04/2019 21:03:25|     loc100|          30|
|03/04/2019 21:08:25|     loc100|          29|
|03/04/2019 21:13:25|     loc100|          26|
|03/04/2019 21:18:25|     loc100|          25|
|03/04/2019 21:23:25|     loc100|          28|
+-------------------+-----------+------------+
only showing top 20 rows

In [45]:
df1.filter(df1["location_id"]=="loc0").count()

1000

In [46]:
df1.filter(df1["location_id"]=="loc100").count()

1000

In [47]:
df2.filter(df2["server_id"]==126).show()

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.72|03/05/2019 08:06:58|       0.18|      126|           58|
|           0.65|03/05/2019 08:11:58|       0.12|      126|           83|
|           0.78|03/05/2019 08:16:58|       0.31|      126|           73|
|           0.84|03/05/2019 08:21:58|       0.48|      126|           70|
|           0.76|03/05/2019 08:26:58|       0.31|      126|           86|
|           0.61|03/05/2019 08:31:58|       0.16|      126|           76|
|           0.57|03/05/2019 08:36:58|       0.19|      126|           70|
|           0.52|03/05/2019 08:41:58|       0.42|      126|           73|
|            0.8|03/05/2019 08:46:58|       0.26|      126|           69|
|           0.71|03/05/2019 08:51:58|       0.32|      126|           68|
|           0.49|03/05/2019 08:56:58|       0.26|      126|           63|
|           0.48|03/05/2019 09:01:58|       0.44|      126|           88|
|           0.67|03/05/2019 09:06:58|       0.34|      126|           82|
|           0.55|03/05/2019 09:11:58|       0.21|      126|           60|
|           0.75|03/05/2019 09:16:58|       0.51|      126|           75|
|           0.67|03/05/2019 09:21:58|       0.43|      126|           92|
|           0.64|03/05/2019 09:26:58|        0.2|      126|           69|
|           0.49|03/05/2019 09:31:58|       0.44|      126|           76|
|           0.71|03/05/2019 09:36:58|       0.33|      126|           77|
|           0.69|03/05/2019 09:41:58|       0.28|      126|           63|
+---------------+-------------------+-----------+---------+-------------+
only showing top 20 rows

### Aggregating using Dataframe API

In [48]:
df1.groupBy("location_id").count().show()

+-----------+-----+
|location_id|count|
+-----------+-----+
|     loc150| 1000|
|      loc22| 1000|
|      loc31| 1000|
|      loc82| 1000|
|      loc90| 1000|
|     loc118| 1000|
|      loc39| 1000|
|      loc75| 1000|
|     loc122| 1000|
|     loc145| 1000|
|      loc24| 1000|
|      loc30| 1000|
|     loc105| 1000|
|      loc96| 1000|
|     loc102| 1000|
|      loc18| 1000|
|      loc27| 1000|
|     loc143| 1000|
|      loc43| 1000|
|     loc123| 1000|
+-----------+-----+
only showing top 20 rows

In [49]:
df2.groupBy("server_id").count().show()

+---------+-----+
|server_id|count|
+---------+-----+
|      112|10000|
|      113|10000|
|      110|10000|
|      107|10000|
|      103|10000|
|      104|10000|
|      106|10000|
|      111|10000|
|      100|10000|
|      105|10000|
|      108|10000|
|      101|10000|
|      102|10000|
|      109|10000|
|      126|10000|
|      119|10000|
|      116|10000|
|      124|10000|
|      114|10000|
|      115|10000|
+---------+-----+
only showing top 20 rows

In [50]:
df1.orderBy("location_id").show()

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 21:23:06|       loc0|          28|
|03/04/2019 20:43:06|       loc0|          28|
|03/04/2019 21:18:06|       loc0|          33|
|03/04/2019 20:18:06|       loc0|          27|
|03/04/2019 20:38:06|       loc0|          32|
|03/04/2019 20:58:06|       loc0|          34|
|03/04/2019 21:13:06|       loc0|          28|
|03/04/2019 19:58:06|       loc0|          28|
|03/04/2019 20:13:06|       loc0|          27|
|03/04/2019 20:28:06|       loc0|          32|
|03/04/2019 20:33:06|       loc0|          35|
|03/04/2019 20:48:06|       loc0|          28|
|03/04/2019 20:53:06|       loc0|          32|
|03/04/2019 21:03:06|       loc0|          33|
|03/04/2019 21:08:06|       loc0|          27|
|03/04/2019 19:48:06|       loc0|          29|
|03/04/2019 19:53:06|       loc0|          27|
|03/04/2019 20:03:06|       loc0|          30|
|03/04/2019 20:08:06|       loc0|          27|
|03/04/2019 20:23:06|       loc0|          29|
+-------------------+-----------+------------+
only showing top 20 rows

In [51]:
df2.orderBy("server_id").show()

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.55|03/05/2019 09:41:14|       0.59|      100|           63|
|           0.62|03/05/2019 09:01:14|       0.59|      100|           60|
|           0.42|03/05/2019 09:36:14|        0.6|      100|           42|
|           0.57|03/05/2019 08:36:14|       0.35|      100|           58|
|           0.32|03/05/2019 08:56:14|       0.37|      100|           47|
|           0.29|03/05/2019 09:16:14|        0.4|      100|           47|
|           0.64|03/05/2019 09:31:14|       0.55|      100|           66|
|           0.56|03/05/2019 08:16:14|       0.57|      100|           62|
|           0.41|03/05/2019 08:31:14|       0.58|      100|           48|
|           0.53|03/05/2019 08:46:14|       0.35|      100|           62|
|           0.51|03/05/2019 08:51:14|        0.6|      100|           45|
|           0.66|03/05/2019 09:06:14|       0.72|      100|           57|
|           0.54|03/05/2019 09:11:14|       0.54|      100|           44|
|           0.43|03/05/2019 09:21:14|       0.68|      100|           66|
|           0.49|03/05/2019 09:26:14|       0.66|      100|           65|
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|
|           0.57|03/05/2019 08:21:14|       0.56|      100|           50|
|           0.35|03/05/2019 08:26:14|       0.46|      100|           43|
|           0.41|03/05/2019 08:41:14|        0.4|      100|           58|
+---------------+-------------------+-----------+---------+-------------+
only showing top 20 rows

In [52]:
df1.groupby('location_id').agg({'temp_celcius': 'mean'}).show()

+-----------+-----------------+
|location_id|avg(temp_celcius)|
+-----------+-----------------+
|     loc150|           32.188|
|      loc22|           28.251|
|      loc31|           25.196|
|      loc82|           27.355|
|      loc90|           23.216|
|     loc118|           24.219|
|      loc39|           25.199|
|      loc75|           23.209|
|     loc122|            32.36|
|     loc145|           32.309|
|      loc24|           31.109|
|      loc30|           30.211|
|     loc105|           26.217|
|      loc96|           28.138|
|     loc102|           30.327|
|      loc18|           30.198|
|      loc27|           31.239|
|     loc143|           28.213|
|      loc43|           32.196|
|     loc123|           23.424|
+-----------+-----------------+
only showing top 20 rows

In [53]:
df1.groupby('location_id').agg({'temp_celcius': 'max'}).show()

+-----------+-----------------+
|location_id|max(temp_celcius)|
+-----------+-----------------+
|       loc0|               36|
|       loc1|               35|
|      loc10|               32|
|     loc100|               34|
|     loc101|               32|
|     loc102|               37|
|     loc103|               32|
|     loc104|               33|
|     loc105|               33|
|     loc106|               34|
|     loc107|               40|
|     loc108|               39|
|     loc109|               31|
|      loc11|               32|
|     loc110|               33|
|     loc111|               38|
|     loc112|               40|
|     loc113|               37|
|     loc114|               36|
|     loc115|               30|
+-----------+-----------------+
only showing top 20 rows

### Sampling using Dataframe API

In [54]:
df_s1 = df1.sample(fraction=0.1,withReplacement=False)

In [55]:
df_s1.count()

50078

In [56]:
df_s2 = df2.sample(fraction=0.1,withReplacement=False)

In [57]:
df_s2.count()

49792

In [58]:
df_s1.groupBy("location_id").agg({'temp_celcius': 'mean'}).show()

+-----------+------------------+
|location_id| avg(temp_celcius)|
+-----------+------------------+
|     loc150| 32.01923076923077|
|      loc22|28.397959183673468|
|      loc31|25.535714285714285|
|      loc82|27.320388349514563|
|      loc90| 23.36082474226804|
|     loc118| 24.18487394957983|
|      loc39|             25.08|
|      loc75|22.926315789473684|
|     loc122| 32.41304347826087|
|     loc145| 32.44303797468354|
|      loc24|31.023255813953487|
|      loc30|30.333333333333332|
|     loc105|             25.99|
|      loc96|28.171717171717173|
|     loc102| 30.68103448275862|
|      loc18|30.345794392523363|
|      loc27|31.327272727272728|
|     loc143|           28.0625|
|      loc43| 32.26126126126126|
|     loc123|23.632653061224488|
+-----------+------------------+
only showing top 20 rows

In [59]:
df_s1.groupBy("location_id").agg({'temp_celcius': 'mean'}).orderBy("location_id").show()

+-----------+------------------+
|location_id| avg(temp_celcius)|
+-----------+------------------+
|       loc0| 29.39252336448598|
|       loc1| 28.24137931034483|
|      loc10|25.072916666666668|
|     loc100|27.038095238095238|
|     loc101|25.067307692307693|
|     loc102| 30.68103448275862|
|     loc103|25.582417582417584|
|     loc104|             26.46|
|     loc105|             25.99|
|     loc106|26.634615384615383|
|     loc107| 33.04210526315789|
|     loc108|32.429906542056074|
|     loc109|24.273504273504273|
|      loc11|25.288659793814432|
|     loc110|26.346938775510203|
|     loc111|31.475247524752476|
|     loc112| 33.66086956521739|
|     loc113|30.238095238095237|
|     loc114|29.310679611650485|
|     loc115|23.233333333333334|
+-----------+------------------+
only showing top 20 rows

In [60]:
df1.groupBy("location_id").agg({'temp_celcius': 'mean'}).orderBy("location_id").show()

+-----------+-----------------+
|location_id|avg(temp_celcius)|
+-----------+-----------------+
|       loc0|           29.176|
|       loc1|           28.246|
|      loc10|           25.337|
|     loc100|           27.297|
|     loc101|           25.317|
|     loc102|           30.327|
|     loc103|           25.341|
|     loc104|           26.204|
|     loc105|           26.217|
|     loc106|           27.201|
|     loc107|           33.268|
|     loc108|           32.195|
|     loc109|           24.138|
|      loc11|           25.308|
|     loc110|           26.239|
|     loc111|           31.391|
|     loc112|           33.359|
|     loc113|           30.345|
|     loc114|           29.261|
|     loc115|           23.239|
+-----------+-----------------+
only showing top 20 rows

In [61]:
df_s2 = df1.sample(fraction=0.001,withReplacement=False)

In [62]:
df_s2.groupBy("location_id").agg({'temp_celcius': 'mean'}).orderBy("location_id").show()

+-----------+------------------+
|location_id| avg(temp_celcius)|
+-----------+------------------+
|       loc0|              28.0|
|       loc1|              30.0|
|      loc10|              25.8|
|     loc100|              25.0|
|     loc102|              32.0|
|     loc103|              23.5|
|     loc105|              28.0|
|     loc107|              38.0|
|     loc109|              24.0|
|     loc110|              26.0|
|     loc111|              29.0|
|     loc113|              29.0|
|      loc12|28.333333333333332|
|     loc120|              30.5|
|     loc121|              28.0|
|     loc122|30.666666666666668|
|     loc124|              31.5|
|     loc127|              22.0|
|     loc129|              28.5|
|     loc131|              28.0|
+-----------+------------------+
only showing top 20 rows

### Saving Data from Dataframes

In [63]:
df1.write.csv('df1.csv')

In [64]:
!ls df1.csv

part-00000-af56317b-dded-4fbb-9aef-79be6495a672-c000.csv
part-00001-af56317b-dded-4fbb-9aef-79be6495a672-c000.csv
part-00002-af56317b-dded-4fbb-9aef-79be6495a672-c000.csv
part-00003-af56317b-dded-4fbb-9aef-79be6495a672-c000.csv
_SUCCESS

In [69]:
!head df1.csv/part-00000-af56317b-dded-4fbb-9aef-79be6495a672-c000.csv

03/04/2019 19:48:06,loc0,29
03/04/2019 19:53:06,loc0,27
03/04/2019 19:58:06,loc0,28
03/04/2019 20:03:06,loc0,30
03/04/2019 20:08:06,loc0,27
03/04/2019 20:13:06,loc0,27
03/04/2019 20:18:06,loc0,27
03/04/2019 20:23:06,loc0,29
03/04/2019 20:28:06,loc0,32
03/04/2019 20:33:06,loc0,35

In [66]:
df1.write.json('df1.json')

In [67]:
!ls df1.json

part-00000-284cfff3-724c-4d11-8eef-ce91e6adf7f5-c000.json
part-00001-284cfff3-724c-4d11-8eef-ce91e6adf7f5-c000.json
part-00002-284cfff3-724c-4d11-8eef-ce91e6adf7f5-c000.json
part-00003-284cfff3-724c-4d11-8eef-ce91e6adf7f5-c000.json
_SUCCESS

In [70]:
!head df1.json/part-00000-284cfff3-724c-4d11-8eef-ce91e6adf7f5-c000.json

{"event_date":"03/04/2019 19:48:06","location_id":"loc0","temp_celcius":"29"}
{"event_date":"03/04/2019 19:53:06","location_id":"loc0","temp_celcius":"27"}
{"event_date":"03/04/2019 19:58:06","location_id":"loc0","temp_celcius":"28"}
{"event_date":"03/04/2019 20:03:06","location_id":"loc0","temp_celcius":"30"}
{"event_date":"03/04/2019 20:08:06","location_id":"loc0","temp_celcius":"27"}
{"event_date":"03/04/2019 20:13:06","location_id":"loc0","temp_celcius":"27"}
{"event_date":"03/04/2019 20:18:06","location_id":"loc0","temp_celcius":"27"}
{"event_date":"03/04/2019 20:23:06","location_id":"loc0","temp_celcius":"29"}
{"event_date":"03/04/2019 20:28:06","location_id":"loc0","temp_celcius":"32"}
{"event_date":"03/04/2019 20:33:06","location_id":"loc0","temp_celcius":"35"}